@charset "utf-8" ;


/* 
all
*/
.all{
    color: #fff;
    background-color: #110F1B;
    width: 100vw;
    font-family: sans-serif;
    font-size: 18px;
    margin: 0;
}
h1{
    color: #fff;
    font-weight: bold;
    font-size: 36px;
}
h2{
    color: #fff;
    font-weight: 200;
    font-size: 28px;
}
h3{
    color: #fff;
    font-weight: lighter;
    font-size: 24px;
}



/* TOP */

/* CONCEPT */
#concept{}
.concept{
    margin: 6vh 14vw;
}
.concept_title{
    font-size: 3.6em;
    background: linear-gradient(180deg, #ffffff 0%, #8BB6D1 40%, #186EA3 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: skewX(-15deg);
    font-weight: 100;
    text-align: right;
}
.concept_title1{
    margin-right: 280px;
}
.concept_title2{
}
.concept_section_title{
    font-size: 36px;
    color:#fff;
    transform: skewX(-15deg);
    font-weight: 500;
}
.cocept_text{
    font-size: 22px;
    color:#fff;
    margin: 2vh 10vw 2vh 0;
    font-weight: 100;
}

/* SYNERGY */
#synergy{
    margin: 12vh 6vw;
}
.synergy{}
.synergy_section_title{
    font-size: 6vw;
    font-weight: lighter;
    color: #378BDB;
    transform: skewX(-15deg);
    text-align: right;
    margin-bottom: -4vh;
}
.synergy_section{
    display: flex;
}
.synergy_description{
    margin-right: 6vw;
    width: 50vw;
}
.synergy_description_title{
    color: #fff;
    font-size: 28px;
    letter-spacing: 0.6em;
    font-weight: 500; 
}
.synergy_Img_section{
    margin: 0;
    padding: 0;
    text-align: right;
}
.synergy_Img{
    height: 609px;
    width: 640px;
    overflow: hidden;
    object-fit: cover;
    display: inline-block;
}
.synergy_summary{
    text-align: center;
    font-size: 22px;
    font-weight: 200;
    margin-top: 6vh;
    letter-spacing: 0.6em;
}


/* SOLUTION */
#solution{
    background-color: #E5E9EF;
    color: #110F1B;
    overflow: hidden;
}
.solution{}
.IoB_text{
    display: inline-block;
    color:#E5E9EF;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    margin-top: -2vh;
    font-weight: bold;
    display     : inline-block;
    padding-left: 100%;
    white-space : nowrap;
    line-height : 1em;
    font-size: 220px;
    overflow: hidden;
    animation   : scrollAnime 30s linear infinite;
}
.solution_title{
    font-size: 36px;
    background: linear-gradient(0deg, #378BDB 0%, #110F1B 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    letter-spacing: 0.2em;
    margin-top: -16vh;
    padding: 12vh 0 2vh 0;
    position: relative;
}
.solution_title::after {
    position: absolute;
    content: "";
    background-color: #186EA3;
    width: 60vw;
    height: 6px; 
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
.solution_subtitle{
    text-align: center;
    margin-bottom: 8vh;
}
@keyframes scrollAnime{
    0% { transform: translateX(0)}
  100% { transform: translateX(-100%)}
}

/* <!-- hexagon card --> */
.solution_card{
    display: flex;
    justify-content: center;
}
.hexagon1, .hexagon2, .hexagon3{
    position: relative;
    width: 400px;
    height: 464px;
    background: linear-gradient(20deg, rgba(168, 163, 184, 0.9) 0%, rgba(204, 219, 233, 0.9) 50%);
    -webkit-background-clip: content-box;
    /* -webkit-text-fill-color: transparent; */
    /* background-color: rgba(168,188,218,0.4); */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #110F1B;
    z-index: 2;
    margin: 0 -1vw;
}
/* .hexagon1::before {
    content: "";
    position: absolute;
    width: 400px;
    height: 464px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    border: 2px solid rgba(255, 255, 255, 1);
    top: 0;
    left: 0;
    box-sizing: border-box;
} */
/* .solution_number1{
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;

} */
.solution_card_content1, .solution_card_content2, .solution_card_content3{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 1vh 4vw 1vh 2vw;
    z-index: 1;
}
.solution_card_content1_title, .solution_card_content2_title ,.solution_card_content3_title{
    color: #110F1B;
}
.solution_box{
    position: absolute;
    width: 84vw;
    height: 24vh;
    margin-top: -11vh;
    background: linear-gradient(270deg, rgba(17, 15, 27, 1) 50%, rgba(24, 110, 163, 1) 100%);
    z-index: 1;
}



/* 
PRODUCT
 */
#products{
}
.products{}
.product_background_Img{
    position: relative;
    width: 100vw;
    height: 40vh;
    object-fit: cover;
}
.products_section_title{
    font-size: 6vw;
    font-weight: lighter;
    color: #ffffff;
    transform: skewX(-15deg);
    margin: -8vh 0 0 6vw;
}
/* <!-- カード３つ、斜線区切り --> */
.product_card{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 72vh;
    background: linear-gradient(20deg, rgba(168, 163, 184, 0.9) 0%, rgba(204, 219, 233, 0.9) 50%);
    color: #110F1B;
    margin-top: -6vh;
}
.product_card_content1, .product_card_content2, .product_card_content3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 33vw;
    position: relative;
    margin: 0 2vw 8vh 2vw;
}
/* .product_card_content1{} */
.product_card_content2{
    margin-left: 6vw;
}
.product_card_content3{
    margin-left: 6vw;
}
.product_insolyis_logo, .product_lyzer_logo, .product_tracker_logo{
    width: 16vw;
    height: auto;
    margin: 10vh 0 2vh;
}
.product_insolyis_Img, .product_lyzer_Img, .product_tracker_Img{
    width: 16vw;
    height: auto;
    margin: 2vh 0;
}
.product_insolyis_text, .product_lyzer_text ,.product_tracker_text{
    margin-bottom: 2vh;
}
.product_description_button{
    position: absolute;
    bottom: -2vh; /* 斜め区切りに沿うように調整 */
    transform: skewX(-5deg);
    right: -2.3vw;
    background: linear-gradient(90deg, rgba(17, 15, 27, 1) 50%, rgba(24, 110, 163, 1) 100%);
    color: white;
    padding: 1vh 2vw;
    font-weight: bold;
}
.product_description_button:hover {
    background: #110F1B;
    cursor: pointer;
}
/* 斜めの分割線 */
.product_card_content1::after,
.product_card_content2::after {
    content: "";
    position: absolute;
    top: 1.6vh;
    right: -4vw;
    width: 2px;
    height: 70.4vh;
    background-color: #292e54;
    transform: skewX(-5deg); /* 斜めに傾ける */
}
/* 最後のカードには分割線をつけない */
.product_card_content3:last-child::after {
    display: none;
}

/* 組み合わせることで多機能 */
.next{
    width: 100vw;
    height: 40vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 /* 三角形 */
.product_triangle{
    width: 30vw;
    height: 22vh;
    background: linear-gradient(to bottom, rgba(24, 110, 163, 1), rgba(17, 15, 27, 1));
    clip-path: polygon(50% 100%, 100% 0, 0 0); /* 下向き三角形 */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.product_subtitle{
    font-size: 36px;
    background: linear-gradient(0deg, #ffffff 20%, #378BDB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    letter-spacing: 0.2em;
    padding: 2vh 0 2vh 0;
    position: relative;
    z-index: 2; /* 三角形の上に配置 */
}
.product_subtitle::after {
    position: absolute;
    content: "";
    background-color: #186EA3;
    width: 60vw;
    height: 6px; 
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
.product_text{
    font-size: 22px;
    text-align: center;
    padding: 2vh 0 2vh 0;
    position: relative;
    z-index: 2; /* 三角形の上に配置 */
}


/* FEATURE */
#feature{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.feature{}
.feature_title{
    text-align: center;
    margin: 0 0 4vh 0;
}

/* Feature tab */
.tab_wrap{
    width: 80vw;
	box-shadow: 0 0 5px rgba(0,0,0,.1);
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	padding: 0 0 20px;
    margin: auto;
}
.tab_label{
    color: #186EA3;
	cursor: pointer;
    display: flex;
    flex-direction: column;
	flex: 1;
	order: -1;
	padding: 12px 24px;
	position: relative;
	text-align: center;
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s;
	user-select: none;
	white-space: nowrap;
	-webkit-tap-highlight-color: transparent;
}
.tab_label:hover {
	background: rgba(0, 191, 255,.1);
}
.tab_switch:checked + .tab_label {
	color: #ffffff;
}
.tab_label::after {
	background: #ffffff;
	bottom: 0;
	content: '';
	display: block;
	height: 3px;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	transform: translateX(100%);
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s 80ms;
	width: 100%;
	z-index: 1;
}
.tab_switch:checked ~ .tab_label::after {
	transform: translateX(-100%);
}
.tab_switch:checked + .tab_label::after {
	opacity: 1;
	transform: translateX(0);
}
.tab_switch:checked ~ .tab_content {
	transform: translateX(30%);
}
.tab_switch:checked + .tab_label + .tab_content {
	height: auto;
	opacity: 1;
	order: 1;
	pointer-events:auto;
	transform: translateX(0);
}
.tab_wrap::after {
	content: '';
	height: 20px;
	order: -1;
	width: 100%;
}
.tab_switch {
	display: none;
}
.tab_icon {
    width: 6vw;
    height: auto;
    padding-bottom: 1vh;
    margin: auto;
    filter: brightness(0) saturate(100%) invert(21%) sepia(88%) saturate(464%) hue-rotate(180deg) brightness(89%) contrast(96%);
    transition: filter 0.3s ease-in-out;
}
.tab_switch:checked + .tab_label .tab_icon {
    filter: brightness(0) saturate(100%) invert(100%);
}
/* Feature card */
.tab_content {
    width: 90vw;
	height:0;
	opacity:0;
	/* pointer-events:none; */
	/* transform: translateX(-30%); */
	/* transition: transform .3s 80ms, opacity .3s 80ms; */
	/* width: 100%; */
}
.feature_card {
    position: relative;
    height: 70vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 上部分の画像エリア */
.feature_card_img {
    position: relative;
    width: 80vw;
    height: 40vh;
    overflow: hidden;
    top: 0;
}

/* 商品画像（分割を跨ぐように） */
.feature_card_img img {
    position: absolute;
    width: 80vw;
    height: auto;
    top: 0;
    left: 0;
    bottom: -30px;
    object-fit: contain;
}

/* 下部分（白いエリア） */
.feature_card_text {
    width: 80vw;
    height: 40vh;
    background: white;
    align-items: center;
    justify-content: center;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* タイトル */
.feature_card_title {
    color: #110F1B;
    padding: 4vh 10vw 2vh 30vw;
}

/* 説明テキスト */
.feature_card_desc {
    color: #110F1B;
    padding: 0vh 10vw 2vh 30vw;
}
/* 
.carousel-indicators {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.indicator-dot {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.indicator-dot.active {
    background-color: #186EA3;
} */


/* 
.feature_tab{}
.app_icon, .shot_icon, .cop_icon, .speed_icon, .tracker_icon{

}
.feature_background_text{}
.feature_carousel{}
.feature_app, .feature_synergy, .feature_lyzer, .feature_insolyis, .feature_tracker{

}
.uk-card uk-card-default{}
.uk-card-media-top{}
.feature_app_content, .feature_synergy_content, .feature_lyzer_conten, .feature_insolyis_content, .feature_tracker_content{

}
.uk-card-body{}
.uk-card-title{}
.uk-child-width-1-2@m{} */



/*
<section id="situation" class="situation">
<div class="situation_section_title">
    Situation
</div>
<div class="situation_title">
    シチュエーションごとの活用法
</div>
<div class="situation_subtitle">
    様々なシチュエーションで上達を徹底サポート
</div>
<div class="situation_Img">
    <img src="situation_content_Img" class="situation_content_Img">
    <div class="situation_1">
        <h3 class="situation_school_title">
            ゴルフレッスンやスクールで客観的にサポート
        </h3>
        <p class="situation_school_text">
            レッスン場で使用することで課題をデータで可視化。<br/>
            客観的データで、課題改善をさらに効率的に
        </p>
    </div>
    <div class="situation_2">
        <h3 class="situation_training_title">
            日々の練習でデータを分析、効率よく上達
        </h3>
        <p class="situation_training_text">
            毎日の練習で収集したデータをもとに、スイングの傾向や癖を把握。<br/>
            科学的なアプローチで確実な成長を実現します
        </p>
    </div>
    <div class="situation_3">
        <h3 class="situation_play_title">
            実際のプレー中に記録・分析し、安定感を強化
        </h3>
        <p class="situation_play_text">
            コースでの重心やスピードデータをリアルタイムで記録。<br/>
            実戦の中で弱点を発見し、すぐにプレーに活かせます
        </p>
    </div>
</div>
</section>

<section id="review" class="review">
<h3 class="review_title">
    実際に使ってみて
</h3>
<div class="uk-panel">
    <img class="uk-align-left uk-margin-remove-adjacent" src="images/light.jpg" width="225" height="150" alt="Example image">
    <p class="review_name">
        鈴木 真緒選手（ドラコンプロ）
    </p>
    <p class="review_comment">
        大会前の練習で使ってみて、本当に驚きました！重心の移動を可視化できるインソールは、普段気づかなかった体幹のクセを教えてくれました。速度計測器はクラブスピード以外にもミート率が一目でわかるので、効率よく改善点が見つけられます。データを見ながら練習すると、自分がどこを直せばいいかがすごくクリアになるので、大会に向けた準備がしやすくなりました。これからも活用していきたいと思います！
    </p>
</div>
</section>

<section id="detail" class="detail">
<div class="detail_title">
    DETAILS
</div>
<div class="detail_subtitle">
    商品詳細
</div>
<div class="detail_card">
    <ul class="detail_card_insolyis">
        <li>
            <img src="" class="detail_card_insolyis_logo">
            <img src="" class="detail_card_insolyis_content">
            <p>
                ¥XX,XXX- (税込)
            </p>
            <button class="detail_button">
                商品を購入する
            </button>
            <table border="1">
                <tr>
                  <th>寸法</th><td>XXXXXXXXXXXX</td>
                </tr>
                <tr>
                  <th>重量</th><td>XXXXXXXXXXXX</td>
                </tr>
                <tr>
                  <th>ディスプレイ</th><td>XXXXXXXXXXXX</td>
                </tr>
                <tr>
                  <th>バッテリー</th><td>XXXXXXXXXXXX</td>
                </tr>
                <tr>
                  <th>防水</th><td>XXXXXXXXXXXX</td>
                </tr>
                <tr>
                  <th>使用可能時間</th><td>XXXXXXXXXXXX</td>
                </tr>
                <tr>
                  <th>データ更新方法</th><td>XXXXXXXXXXXX<br/>XXXXXXXXXXXX</td>
                </tr>
                <tr>
                  <th>付属品</th><td>XXXXXXXXXXXX<br/>XXXXXXXXXXXX</td>
                </tr>
                <tr>
                  <th>ここは情報を</th><td>XXXXXXXXXXXX<br/>XXXXXXXXXXXX</td>
                </tr>
              </table>
        </li>
    </ul>
    <ul class="detail_card_lyzer">
        <li>
            <img src="" class="detail_card_lyzer_logo">
            <img src="" class="detail_card_lyzer_content">
            <p>
                ¥XX,XXX- (税込)
            </p>
            <button class="detail_button">
                商品を購入する
            </button>
            <table border="1">
                <tr>
                  <th>寸法</th><td>XXXXXXXXXXXX</td>
                </tr>
                <tr>
                  <th>重量</th><td>XXXXXXXXXXXX</td>
                </tr>
                <tr>
                  <th>ディスプレイ</th><td>XXXXXXXXXXXX</td>
                </tr>
                <tr>
                  <th>バッテリー</th><td>XXXXXXXXXXXX</td>
                </tr>
                <tr>
                  <th>防水</th><td>XXXXXXXXXXXX</td>
                </tr>
                <tr>
                  <th>使用可能時間</th><td>XXXXXXXXXXXX</td>
                </tr>
                <tr>
                  <th>データ更新方法</th><td>XXXXXXXXXXXX<br/>XXXXXXXXXXXX</td>
                </tr>
                <tr>
                  <th>付属品</th><td>XXXXXXXXXXXX<br/>XXXXXXXXXXXX</td>
                </tr>
                <tr>
                  <th>ここは情報を</th><td>XXXXXXXXXXXX<br/>XXXXXXXXXXXX</td>
                </tr>
              </table>
        </li>
    </ul>
    <ul class="detail_card_tracker">
        <li>
            <img src="" class="detail_card_tracker_logo">
            <img src="" class="detail_card_tracker_content">
            <p>
                ¥XX,XXX- (税込)
            </p>
            <button class="detail_button">
                商品を購入する
            </button>
            <table border="1">
                <tr>
                  <th>寸法</th><td>XXXXXXXXXXXX</td>
                </tr>
                <tr>
                  <th>重量</th><td>XXXXXXXXXXXX</td>
                </tr>
                <tr>
                  <th>ディスプレイ</th><td>XXXXXXXXXXXX</td>
                </tr>
                <tr>
                  <th>バッテリー</th><td>XXXXXXXXXXXX</td>
                </tr>
                <tr>
                  <th>防水</th><td>XXXXXXXXXXXX</td>
                </tr>
                <tr>
                  <th>使用可能時間</th><td>XXXXXXXXXXXX</td>
                </tr>
                <tr>
                  <th>データ更新方法</th><td>XXXXXXXXXXXX<br/>XXXXXXXXXXXX</td>
                </tr>
                <tr>
                  <th>付属品</th><td>XXXXXXXXXXXX<br/>XXXXXXXXXXXX</td>
                </tr>
                <tr>
                  <th>ここは情報を</th><td>XXXXXXXXXXXX<br/>XXXXXXXXXXXX</td>
                </tr>
              </table>
        </li>
    </ul>
</div>
</section>

<section id="FAQ" class="FAQ">
<div class="FAQ_title">
    よくある質問
</div>
<div class="FAQ_subtitle">
    Q&A
</div>
<div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light">
    <div class="FAQ_box1_Q">
            <h3 class="uk-card-title">
                Q
            </h3>
        <ul uk-accordion="multiple: true" class="uk-accordion">
            <li class="uk-open">
                <a class="uk-accordion-title" href="" id="uk-accordion-1" role="button" aria-controls="uk-accordion-2" aria-expanded="true" aria-disabled="false">
                    インソールのサイズについて教えてください。
                </a>
                <div class="uk-accordion-content" id="uk-accordion-2" role="region" aria-labelledby="uk-accordion-1">
                    <h3 class="uk-card-title">
                        A
                    </h3>
                    <p>
                        xxcm〜xxcmまで対応しております。<br/>
                        カットが可能なので前後のサイズ調整まで可能です。
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light">
    <div class="FAQ_box1_Q">
            <h3 class="uk-card-title">
                Q
            </h3>
        <ul uk-accordion="multiple: true" class="uk-accordion">
            <li class="uk-open">
                <a class="uk-accordion-title" href="" id="uk-accordion-1" role="button" aria-controls="uk-accordion-2" aria-expanded="true" aria-disabled="false">
                    インソールのサイズについて教えてください。
                </a>
                <div class="uk-accordion-content" id="uk-accordion-2" role="region" aria-labelledby="uk-accordion-1">
                    <h3 class="uk-card-title">
                        A
                    </h3>
                    <p>
                        xxcm〜xxcmまで対応しております。<br/>
                        カットが可能なので前後のサイズ調整まで可能です。
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light">
    <div class="FAQ_box1_Q">
            <h3 class="uk-card-title">
                Q
            </h3>
        <ul uk-accordion="multiple: true" class="uk-accordion">
            <li class="uk-open">
                <a class="uk-accordion-title" href="" id="uk-accordion-1" role="button" aria-controls="uk-accordion-2" aria-expanded="true" aria-disabled="false">
                    インソールのサイズについて教えてください。
                </a>
                <div class="uk-accordion-content" id="uk-accordion-2" role="region" aria-labelledby="uk-accordion-1">
                    <h3 class="uk-card-title">
                        A
                    </h3>
                    <p>
                        xxcm〜xxcmまで対応しております。<br/>
                        カットが可能なので前後のサイズ調整まで可能です。
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light">
    <div class="FAQ_box1_Q">
            <h3 class="uk-card-title">
                Q
            </h3>
        <ul uk-accordion="multiple: true" class="uk-accordion">
            <li class="uk-open">
                <a class="uk-accordion-title" href="" id="uk-accordion-1" role="button" aria-controls="uk-accordion-2" aria-expanded="true" aria-disabled="false">
                    インソールのサイズについて教えてください。
                </a>
                <div class="uk-accordion-content" id="uk-accordion-2" role="region" aria-labelledby="uk-accordion-1">
                    <h3 class="uk-card-title">
                        A
                    </h3>
                    <p>
                        xxcm〜xxcmまで対応しております。<br/>
                        カットが可能なので前後のサイズ調整まで可能です。
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light">
    <div class="FAQ_box1_Q">
            <h3 class="uk-card-title">
                Q
            </h3>
        <ul uk-accordion="multiple: true" class="uk-accordion">
            <li class="uk-open">
                <a class="uk-accordion-title" href="" id="uk-accordion-1" role="button" aria-controls="uk-accordion-2" aria-expanded="true" aria-disabled="false">
                    インソールのサイズについて教えてください。
                </a>
                <div class="uk-accordion-content" id="uk-accordion-2" role="region" aria-labelledby="uk-accordion-1">
                    <h3 class="uk-card-title">
                        A
                    </h3>
                    <p>
                        xxcm〜xxcmまで対応しております。<br/>
                        カットが可能なので前後のサイズ調整まで可能です。
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light">
    <div class="FAQ_box1_Q">
            <h3 class="uk-card-title">
                Q
            </h3>
        <ul uk-accordion="multiple: true" class="uk-accordion">
            <li class="uk-open">
                <a class="uk-accordion-title" href="" id="uk-accordion-1" role="button" aria-controls="uk-accordion-2" aria-expanded="true" aria-disabled="false">
                    インソールのサイズについて教えてください。
                </a>
                <div class="uk-accordion-content" id="uk-accordion-2" role="region" aria-labelledby="uk-accordion-1">
                    <h3 class="uk-card-title">
                        A
                    </h3>
                    <p>
                        xxcm〜xxcmまで対応しております。<br/>
                        カットが可能なので前後のサイズ調整まで可能です。
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light">
    <div class="FAQ_box1_Q">
            <h3 class="uk-card-title">
                Q
            </h3>
        <ul uk-accordion="multiple: true" class="uk-accordion">
            <li class="uk-open">
                <a class="uk-accordion-title" href="" id="uk-accordion-1" role="button" aria-controls="uk-accordion-2" aria-expanded="true" aria-disabled="false">
                    インソールのサイズについて教えてください。
                </a>
                <div class="uk-accordion-content" id="uk-accordion-2" role="region" aria-labelledby="uk-accordion-1">
                    <h3 class="uk-card-title">
                        A
                    </h3>
                    <p>
                        xxcm〜xxcmまで対応しております。<br/>
                        カットが可能なので前後のサイズ調整まで可能です。
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light">
    <div class="FAQ_box1_Q">
            <h3 class="uk-card-title">
                Q
            </h3>
        <ul uk-accordion="multiple: true" class="uk-accordion">
            <li class="uk-open">
                <a class="uk-accordion-title" href="" id="uk-accordion-1" role="button" aria-controls="uk-accordion-2" aria-expanded="true" aria-disabled="false">
                    インソールのサイズについて教えてください。
                </a>
                <div class="uk-accordion-content" id="uk-accordion-2" role="region" aria-labelledby="uk-accordion-1">
                    <h3 class="uk-card-title">
                        A
                    </h3>
                    <p>
                        xxcm〜xxcmまで対応しております。<br/>
                        カットが可能なので前後のサイズ調整まで可能です。
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light">
    <div class="FAQ_box1_Q">
            <h3 class="uk-card-title">
                Q
            </h3>
        <ul uk-accordion="multiple: true" class="uk-accordion">
            <li class="uk-open">
                <a class="uk-accordion-title" href="" id="uk-accordion-1" role="button" aria-controls="uk-accordion-2" aria-expanded="true" aria-disabled="false">
                    インソールのサイズについて教えてください。
                </a>
                <div class="uk-accordion-content" id="uk-accordion-2" role="region" aria-labelledby="uk-accordion-1">
                    <h3 class="uk-card-title">
                        A
                    </h3>
                    <p>
                        xxcm〜xxcmまで対応しております。<br/>
                        カットが可能なので前後のサイズ調整まで可能です。
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light">
    <div class="FAQ_box1_Q">
            <h3 class="uk-card-title">
                Q
            </h3>
        <ul uk-accordion="multiple: true" class="uk-accordion">
            <li class="uk-open">
                <a class="uk-accordion-title" href="" id="uk-accordion-1" role="button" aria-controls="uk-accordion-2" aria-expanded="true" aria-disabled="false">
                    インソールのサイズについて教えてください。
                </a>
                <div class="uk-accordion-content" id="uk-accordion-2" role="region" aria-labelledby="uk-accordion-1">
                    <h3 class="uk-card-title">
                        A
                    </h3>
                    <p>
                        xxcm〜xxcmまで対応しております。<br/>
                        カットが可能なので前後のサイズ調整まで可能です。
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="contact">
    その他ご質問やご購入など、お気軽にお問い合わせください
</div>
<button class="contact_button">
    ✉️お問い合わせ
</button>
</section> */
